@mixin flex-column {position: relative;display: -webkit-flex;display: -ms-flexbox;display: -moz-box;display: -webkit-box;display: flex;flex-direction: column;}
@mixin flex-row {position: relative;display: -webkit-flex;display: -ms-flexbox;display: -moz-box;display: -webkit-box;display: flex;flex-direction: row;}
@mixin bord {border: 1px solid red;}