//Основные настройки страницы (обнуление)-----------------------------------------------------------------------------------------------------------------------

/*Стандартные настройки страницы
=======================================*/
html {overflow-x: hidden;}
body {margin: 0;padding: 0;overflow-x: hidden; font-family: 'Jost', sans-serif; background-color: #242a38; color: #ffffff}
* {box-sizing: border-box;}
a {text-decoration: none;color:inherit;}
p {margin: 0;user-select: none;}
input::placeholder {color: rgba(122, 122, 122, 0.6);}
textarea::placeholder {color: rgba(122, 122, 122, 0.6);}
h1,h2,h3,h4,h5,h6 {font-weight: inherit; font-size: inherit;margin: 0;}
ul[class],ol[class] {list-style: none;margin: 0;}
.stop-scroll {height: 100vh;min-height: 100vh;overflow: hidden !important;}
.dark-fon {position: fixed;top: 0;left: 0;background-color:rgba(0, 0, 0, 0.4);width: 100vw;height: 100vh;display: none;z-index: 1;transition: all 0.4s;}
.dark-fon-on {display: block}
.container-margin {margin-right: 16px;}
img {display: block;}
.uncor {position: absolute; top: 0; left: 0;}

//Миксины--------------------------------------------------------------------------------------------------------------------------------------------------------

@import "mixins";

//Подключение шрифтов--------------------------------------------------------------------------------------------------------------------------------------------

@import "fonts";

//Основные цвета-------------------------------------------------------------------------------------------------------------------------------------------------

$wh: #FFFFFF;
$dg: #4E586E;
$secn: #242a38;
$gr: #f0f0f0;
$bl: #000000;
$hvr: #F54864;
$hvd: #da2240;


//Стандартные размеры для контейнеров и блоков-------------------------------------------------------------------------------------------------------------------

$contw: 1100px;
$conth: 700px;

//Граница страницы сайта-----------------------------------------------------------------------------------------------------------------------------------------

.wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    @include flex-column();
    align-items: center;
}

//Стандартные настройки контейнера-------------------------------------------------------------------------------------------------------------------------------

.container {
    position: relative;
    @include flex-column();
    width: $contw;
    height: auto;
}

//Под iPhone 5,5s,SE ----------------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 0px) and (max-width: 320px) {
    .container {
        width: 290px;
    }
    
}

//Под iPhone 6,7,8 ----------------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 321px) and (max-width: 480px) {
    .container {
        width: 315px;
    }
}

//Под iPhone 6,7,8 plus ----------------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 321px) and (max-width: 480px) and (min-height: 668px) and (max-height: 736px) {
    .container {
        width: 315px;
    }
}

//Под iPhone X ----------------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 321px) and (max-width: 480px) and (min-height: 737px) and (max-height: 812px) {
    .container {
        width: 315px;
    }
}

//Под iPad --------------------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

//Под iPad Pro --------------------------------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 1024px) and (max-width: 1360px) {
} 

/*МЕНЮ САЙТА
=======================================*/
@import "blocks/header";

/*БЛОК-1
=======================================*/
@import "blocks/block-1";

/*БЛОК-2
=======================================*/
@import "blocks/block-2";

/*БЛОК-4
=======================================*/
@import "blocks/block-4";

/*БЛОК-5
=======================================*/
@import "blocks/block-5";

/*БЛОК-6
=======================================*/
@import "blocks/block-6";

/*БЛОК-7
=======================================*/
@import "blocks/block-7";

/*БЛОК-8
=======================================*/
@import "blocks/block-8";

/*БЛОК-9
=======================================*/
@import "blocks/block-9";

/*ПОДВАЛ САЙТА
=======================================*/
@import "blocks/footer";

/*МОДАЛЬНОЕ ОКНО
=======================================*/
@import "blocks/popup";

/*ПРОГРЕСС-БАР
=======================================*/
@import "blocks/progress";

/*ОТЗЫВЫ
=======================================*/
@import "blocks/reviews";
